table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #333;
    padding: 0 .2em;
  }

  header {
    background-color: #111111;
  }

  main header { 
    background-color: transparent;
  }